body {
    background-color: aquamarine;
}
.to-be-continued {
    font-family: 'Monoton', sans-serif;
    font-size: 26px;
    word-spacing: 6px;
    text-align: center;
    color: #bbb;
}
.button {
    font-size: 26px ;
    background-color: red ;
    color: #bbb;
    
}